body{
	background-image: url("https://image.freepik.com/free-vector/dark-wall-with-spot-lights-background_52683-42962.jpg");
	/**background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");**/
	background-image: url("spot.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	backface-visibility: 12;
}
.container{
	/**font-family: 'Passion One', cursive;**/
	/**font-family: 'Miltonian Tattoo', cursive;**/
	font-family: 'Ceviche One', cursive;
	text-align: center;
	font-size: 70px;
	background: -webkit-linear-gradient(#ffffff, #c8ff69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 140px;
  justify-content: center;

}
.ques{
	color: white;
	font-size: 25px;
	font-family: 'Carter One', cursive;
	text-align: center;
	margin-top: 10px;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
button{
	border:none;
	background: none;
	color: #0280a3;
	letter-spacing: 1px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
	font-size: 20px;
	font-family: 'Fredoka One', cursive;
}
button:hover {
	color: #ba0734;
}

.square{
	width: 30%;
	background: white;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 50%;
	border-width: 5%;
	border-color: white;
}
.colors{
  	max-width: 300px;
  	margin: 20px auto;
}
#messageDisplay{
	display: inline-block;
	width: 20%;
}
.buttons{
	background-image: url("https://cdn.pixabay.com/photo/2015/04/12/19/00/painting-719319__480.jpg");
	max-height: 80px;
	max-width: 800px;
	justify-content: center;
	text-align: center;
	margin:5px auto;
}
#messageDisplay{
	color: #ba0734;
	font-size: 20px;
	font-family: 'Fredoka One', cursive;
}